<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post">
    <input type="hidden" th:value = "${updateMember.id}" name="id"><br>
    email: <input type="text" th:value = "${updateMember.memberEmail}" name="memberEmail" readonly><br>
    password: <input type="text" th:value = "${updateMember.memberPassword}" name="memberPassword"><br>
    name: <input type="text" th:value="${updateMember.memberName}" name="memberName"><br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>